.ip-info-container {
  background-color: rgba(255, 255, 255, 0.8); /* Set background color with transparency */
  margin: 40px auto;
  font-size: 0.9rem; /* Adjusted font size */
  max-width: 80%; /* Adjusted maximum width */
}

.ip-info-column {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  border-radius: 25px;
  width: 100%; /* Adjusted width for each column */
  display: inline-block;
  vertical-align: top; /* Align columns to the top */
  padding: 30px; /* Adjusted padding */
  margin-bottom: 20px;
}

.ip-info-chart {
  list-style: none;
  padding: 0;
  text-align: left;
}

.ip-info-layer {
  display: flex;
  justify-content: space-between; /* Push content to both ends */
  align-items: center;
  margin-bottom: 10px; /* Adjust spacing between layers */
}

.ip-info-layer span:first-child {
  font-weight: bold;
}

.copy-icon {
  width: 15px;
  margin-left: 10px;
}

