  .port-scanner {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .input-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .input-ip-url {
    flex-grow: 1;
  }
  
  .port-range-inputs {
    display: flex;
    justify-content: space-between; 
    margin-top: 3px; 
  }
  
  .input-field,
  .scan-button {
    margin-top: 10px; 
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    padding: 10px;
  }
  
  .port-input {
    flex-basis: calc(52% - 50px); /* Adjusted width for each port input to accommodate margin */
  }
  
  .scan-button {
    padding: 15px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 50px;
  }
  
  .scan-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }











  
  .scan-results {
    margin-top: 20px;
    text-align: left;
  }
  
  .scan-results h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .scan-results ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }
  
  .scan-results li {
    margin-bottom: 10px;
    font-size: 16px;

  }
  
  .scan-results strong {
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
  }
  
  .port-details {
    font-size: 16px;
    border-radius: 10px;
    text-align: left;
  }

  .port-details table {
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 100%; 
  }

  .port-details th, .port-details td {
    text-align: center; /* Center text within table header and cells */
    padding: 8px; /* Add some padding for aesthetics */
    border: 4px solid white; /* Add borders around each cell */
    
  }

  .port-details th {
    background-color: #bcbcbc; /* Add a background color to the table header */
  }

  .port-details img {
    width: 18px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  