  /* Styles for page content */
  .about-container {
    margin-top: 50px;
    font-size: 14px;
    color: black;
    text-align: left;
    line-height: 1.5;
    width: 85%;
    max-width: 1000px;
  }
  
  .network-animation {
    width: 50px;
  }