.footer {
  background-color: #186598;
  color: #fff;
  padding: 1px;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

.footer-nav {
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
  text-align: left;
}

.footer-item {
  display: block; /* Change to block layout */
  margin-bottom: 10px; /* Add margin between links */
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}
