.port-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-decoration: none;
    margin-top: 0px;
    width: 85%;
    max-width: 1200px;
    border-radius: 25px;
  }
  
  .Port-item {
    display: flex;
    align-items: center;
    padding: 25px;
  }
  
  .port-content {
    font-weight: bold;
    position: absolute;
    margin-left: 80px;
    margin-top: -35px;
  }

  .port-content2 {
    font-weight: bold;
    position: absolute;
    margin-left: 120px;
    margin-top: -35px;
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .inspect-image {
    width: 200px; 
    margin-right: 100px;
    filter: invert(20%);
    opacity: 0; /* Start invisible */
    transform: translateX(-100%); /* Start off-screen to the left */
  }

  .inspect-image2 {
    width: 80px; 
    margin-right: 200px;
    filter: invert(20%);
    opacity: 0; /* Start invisible */
  }

  .inspect-image2.visible {
    animation: slideInFromLeft 1.3s forwards; 
  }
  
  .inspect-image.visible {
    animation: slideInFromLeft 1.3s forwards; 
  }

  .tool-link {
    font-size: 20px;
    word-spacing: 0px;
    text-decoration: none;
    color: #2980b9; 
    transition: font-size 0.5s ease; /* Add transition */
    transition-delay: 0.5s;
}

  .tool-link.large {
      font-size: 37px; /* Increase font size */
  }

  .tool-link2 {
    font-size: 20px;
    word-spacing: 8px;
    text-decoration: none;
    color: #2980b9;
    position: absolute; /* Position absolutely within the parent container */
    top: 15px; /* Adjust top position as needed */
    left: 90px;
  }

  .tool-link3 {
    font-size: 30px;
    word-spacing: 8px;
    text-decoration: none;
    color: #2980b9;
    position: absolute; /* Position absolutely within the parent container */
    top: -20px; /* Adjust top position as needed */
    left: -5px;
  }
    
  .tool-description {
    font-size: 14px;
    color: black;
    line-height: 1.5;
  }

  .first-words {
    margin-left: 0px;
    font-weight: bold;
    font-size: 30px; /* Adjust size as needed */
    color: black;
  }

