.port-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    margin-bottom: 30px;
    margin-top: 10px;
    width: 85%;
    max-width: 800px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  
  .Port-item {
    display: flex;
    align-items: center;
    padding: 25px;
  }
  
  .port-content {
    font-weight: bold;
    position: absolute;
    margin-left: 70px;
    margin-top: -35px;
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .inspect-image {
    width: 150px; 
    margin-right: 100px;
    filter: invert(20%);
    opacity: 0; /* Start invisible */
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  
  .inspect-image.visible {
    animation: slideInFromLeft 1.1s forwards; 
  }

  .tool-link {
    font-size: 25px;
    word-spacing: 8px;
    text-decoration: none;
    color: #2980b9; 
}
  
  .tool-description {
    font-size: 16px;
    color: #666;
  }
  